<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AphiaNameServiceBinding" allowCookies="true"
                 maxReceivedMessageSize="20000000" 
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
            <readerQuotas maxDepth="32" 
                 maxArrayLength="200000000"
                 maxStringContentLength="200000000"/>
        </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.marinespecies.org/aphia.php?p=soap"
                binding="basicHttpBinding" bindingConfiguration="AphiaNameServiceBinding"
                contract="Worms.AphiaNameServicePortType" name="AphiaNameServicePort" />
        </client>
    </system.serviceModel>
</configuration>
